{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Your Shopping Bag</h1>
    {% if bag.items.all %}
        <ul>
            {% for item in bag.items.all %}
                <li>
                    {{ item.product.name }} - Quantity: {{ item.quantity }}
                    <a href="{% url 'bag:remove_from_bag' item.id %}">Remove</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Your bag is empty.</p>
    {% endif %}
</div>
{% endblock %}
