html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.logo-background {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 90%;
    text-align: center; 
    display: inline-block; 
    width: 100%;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.footer {
    background-color: #f8f9fa;
    color: #555;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0.15rem 0;
}

.footer .container {
    padding: 0.15rem;
}

.footer span {
    font-size: 0.875rem;
    color: #6c757d;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}