<div class="collapse navbar-collapse" id="main-nav">
    <div class="d-flex justify-content-center w-100">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="clothing-link">
                    Clothing
                </a>
            </li>
            <li class="nav-item">
                <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="electronics-link">
                    Electronics
                </a>
            </li>
            <li class="nav-item">
                <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="workout-plans-link">
                    Workout Plans
                </a>
            </li>
            <li class="nav-item">
                <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="meal-plans-link">
                    Meal Plans
                </a>
            </li>
        </ul>
    </div>
</div>
