{% extends 'base.html' %}

{% block title %}
    Product List
{% endblock %}

{% block content %}
<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <div class="card h-100 border-0">
        {% for product in products %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body text-center"> 
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">${{ product.price }}</p>
                    <a href="{% url 'shop:product_detail' product.id %}" class="btn btn-primary">View Details</a>
                    <form action="#" method="POST">
                        <button type="submit" class="btn btn-success">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No products available.</p>
        {% endfor %}
{% endblock %}
